
.link{
    text-decoration: none;
    margin-left: 3%;
    color: black;
    font-size: 15px;
    font-weight: 400;
}

.account,.cart{
    width: 30px;
    height: 30px;
    border-radius: 10%;
    margin-left: 3%;
}

.footer{
    display: flex;
    gap: 3rem;
    font-size: 20px;
    padding-top: 30px;
}

.social{
    width: 150px;
}

.text2{
    text-align: center;
    margin-top: 50px;
}

.box3{
    margin-top: 20px;
    width: 100%;
    height: 300px;
    text-align: center;
    background-color:rgb(10,43,43);
    padding-top: 50px;
    font-size: 25px;
    color: white;
}

.text{
    margin-top: 30px;
    height: 150px;
    padding-top: 20px;
    overflow-y: hidden;
}
.btn{
    text-decoration: none;
    padding: 10px;
    border: 5px solid white;
    color: white;
    font-weight: 600;
    background: gray;
}